{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col">

            <h3>Contacts</h3>

            <a class="btn btn-success float-right" href="{{ path('contact_new') }}">New contact</a>
            <div class="clearfix"></div>
            <br>

            {% if contacts is empty %}
                <div class="alert alert-info">No records yet</div>
            {% else %}
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th class="{{ contacts.isSorted('c.firstname') ? 'sorted' : '' }}" nowrap="true">
                            {{ knp_pagination_sortable(contacts, 'First name', 'c.firstname') }}
                        </th>
                        <th class="{{ contacts.isSorted('c.lastname') ? 'sorted' : '' }}" nowrap="true">
                            {{ knp_pagination_sortable(contacts, 'Last name', 'c.lastname') }}
                        </th>
                        <th class="{{ contacts.isSorted('c.city') ? 'sorted  : '}}">
                            {{ knp_pagination_sortable(contacts, 'City', 'c.city') }}
                        </th>
                        <th class="{{ contacts.isSorted('c.country') ? 'sorted  : '}}">
                            {{ knp_pagination_sortable(contacts, 'Country', 'c.country') }}
                        </th>
                        <th class="{{ contacts.isSorted('c.phone') ? 'sorted  : '}}">
                            {{ knp_pagination_sortable(contacts, 'Phone', 'c.phone') }}
                        </th>
                        <th class="{{ contacts.isSorted('c.birthday') ? 'sorted  : '}}">
                            {{ knp_pagination_sortable(contacts, 'Birthday', 'c.birthday') }}
                        </th>
                        <th class="{{ contacts.isSorted('c.email') ? 'sorted  : '}}">
                            {{ knp_pagination_sortable(contacts, 'Email', 'c.email') }}
                        </th>
                        <th>
                            Actions
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for contact in contacts %}
                        <tr>
                            <td class="text-nowrap">
                                <a href="{{ path('contact_show', { 'id': contact.id }) }}">
                                    {{ contact.firstname }}
                                </a>
                            </td>
                            <td class="text-nowrap">
                                <a href="{{ path('contact_show', { 'id': contact.id }) }}">
                                    {{ contact.lastname }}
                                </a>
                            </td>
                            <td>{{ contact.city }}</td>
                            <td>{{ contact.country }}</td>
                            <td>{{ contact.phone }}</td>
                            <td>{% if contact.birthday %}{{ contact.birthday|date('d.m.Y') }}{% endif %}</td>
                            <td>
                                <div class="email" title="{{ contact.email }}">
                                    <a href="mailto:{{ contact.email }}">{{ contact.email }}</a>
                                </div>
                            </td>
                            <td class="text-nowrap">
                                <a class="btn btn-info" href="{{ path('contact_show', { 'id': contact.id }) }}">View</a>
                                <a class="btn btn-warning" href="{{ path('contact_edit', { 'id': contact.id }) }}">Edit</a>
                                <a class="btn btn-danger btn-delete" href="{{ path('contact_delete', {'id': contact.id}) }}">Delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                {{ knp_pagination_render(contacts) }}
            {% endif %}
        </div>
    </div>
{% endblock %}
